In [24]:
import math

Write some code that imports the math module, then calculates and prints the
square root of the number 2401. Use the sqrt() function provided by the math module.

In [23]:
from math import sqrt
root = sqrt(2401)

In [25]:
root

49.0

Write some code that imports only the log2() function from the math module, then
call this function to calculate the log base 2 value of 1024. Print the result to the screen.

In [26]:
from math import log2
log = log2(1024)
log

10.0

Input the above function definition. Once that is done make several calls to the
function passing different argument values for testing.

In [2]:
def displayTwice(msg):
    print(msg)
    print(msg)
displayTwice("Hello")

Hello
Hello

In [3]:
displayTwice("Fancy meeting you here")

Fancy meeting you here
Fancy meeting you here

Re-Input the above function definition, but this time add a docstring that includes a
description of the functionâ€™s purpose. Once that is done enter a command such as
help(displayTwice) and see what it displays.

In [5]:
def displayTwice(msg):
    """This will display the function argument twice."""
    print(msg)
    print(msg)
help(displayTwice)

Help on function displayTwice in module __main__:

displayTwice(msg)
    This will display the function argument twice.

Input the above function definition. Once that is done make several calls to the
function passing different argument values and displaying the returned value.

In [6]:
def findMax(a,b):
    """Finds the maximum of two values."""
    if ( a > b ):
        max = a
    else:
        max = b
    return max

In [8]:
findMax(5,8)

8

Define a function that takes two numeric values, multiplies them together then returns the result. If the function is called with only a single argument however, then the value should be multiplied by itself. Once the function is defined, call it several times and display the returned values for testing purposes.

In [10]:
def multiply_numbers(num1, num2=None):
    if num2 is None:
        num2 = num1
    return num1 * num2

print(multiply_numbers(2)) 
print(multiply_numbers(3, 1)) 
print(multiply_numbers(8, 7))

4
3
56

Enter the example function shown above, then try calling it using the keyword arguments in several different orders.

In [12]:
def someFunc(x, y, z):
    print("x is", x, "\ny is", y, "\nz is", z)

someFunc(1,2,3)
someFunc(y=3, z=4, x=2)

x is 1
y is 2
z is 3
x is 2
y is 3
z is 4

In [14]:
someFunc(1, z=9, y=4)

x is 1
y is 4
z is 9

The built-in print() function supports a keyword argument called sep. This is used to decide what character to display between each of the provided positional parameters. Write some code that makes several calls to the print() function while setting the sep argument to values other than a space (which is the default).

In [17]:
print("Genious", "Oli", sep=", ")
print("Genious", "Oli", sep="*")
print("Genious", "Oli", sep="**")
print("Genious", "Oli", sep="|")

Genious, Oli
Genious*Oli
Genious**Oli
Genious|Oli

Enter the example function shown above, then try calling it several times, passing a different number of numeric arguments each time.

In [19]:
def calcAve(*numbers):
    total = 0
    for num in numbers:
        total += num
    return total/len(numbers)
calcAve(3,4)

3.5

In [20]:
calcAve(1,2,3,4)

2.5

In [21]:
calcAve(6,9,4,2,0,1,1)

3.2857142857142856

Enter the example lambda expression shown above, then find out the data type of the hypot variable using a call to the type() function. Notice the result.

In [30]:
hypot = lambda a,b : math.sqrt(a * a + b * b)
hypot(8,7)

10.63014581273465

Write a lambda expression that takes two formal parameters, hours and minutes. The expression should calculate and return the total number of equivalent seconds. Assign the expression to a variable called to_seconds, then call the function several times for testing.

In [31]:
to_seconds = lambda hours, minutes: hours * 3600 + minutes * 60

print(to_seconds(2, 0))       
print(to_seconds(0, 45))      
print(to_seconds(3, 20))

7200
2700
12000

Improve your previous lambda expression so that if only one argument is passed within a call, then the number of minutes defaults to 0, as detailed below:

In [32]:
to_seconds = lambda hours, minutes=0: hours * 3600 + minutes * 60

print(to_seconds(3, 20))      
print(to_seconds(2))          
print(to_seconds(7))

12000
7200
25200